.nav-div {
  background-color: #ffd6d6;
  padding: 7px 0;
  position: fixed;
  top: 0;
}
.logo {
  margin-left: 20px;
}
.logo img {
  max-width: 110px;
  max-height: 35px;
  object-fit: contain;
}

.ul-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0;
}
.ul-div ul {
  display: flex;
  margin-bottom: 0;
  align-items: center;
  padding: 0;
}
.ul-div li {
  list-style: none;
  font-size: 17px;
  margin: 0 28px 0 0;
  font-weight: 400;
  cursor: pointer;
}
.ul-div .active {
  color: #f88379;
}
.ul-div li a {
  list-style: none;
  text-decoration: none;
  color: #000;
}
.cart-main-div {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
.cart-main-div a {
  text-decoration: none;
}
.cart-div {
  position: relative;
  color: #fff;
  margin-right: 25px;
  margin-bottom: 0;
  position: absolute;
  top: 3px;
  left: 0;
}
.cart-div .cart {
  font-size: 21px;
  color: #000;
}
.cart-no {
  position: absolute;
  top: -8px;
  left: 12px;
  width: 18px;
  height: 18px;
  background-color: tomato;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

/* -----------responsive--------------- */
@media screen and (max-width: 576px) {
  .logo img {
    max-width: 100px;
    max-height: 35px;
  }
  .logo {
    margin-left: 0px !important;
  }
  .cart-div {
    position: relative;
  }
  .cart {
    position: absolute;
    top: -17px;
    right: 0px;
  }
  .cart-no {
    position: absolute;
    top: -20px;
    left: -9px;
  }
  .ul-div li {
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 5px;
  }
}
